#container{
    width:  800px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.row{
    flex: 1;
    display: flex;
    /* height: auto; */
}

.square{
    /* height: 50px;
    width: 50px; */
    border-color: black;
    background-color: #dfdbdb;
    border: 1px solid grey;
    flex: 1;
}

.hover{
    background-color: red;
}